<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<div class="mycontainer">
    <div class="row">
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a routerLink="./ruleta">about us</a></li>
                <li><a routerLink="./ruleta">our services</a></li>
                <li><a routerLink="./ruleta">privacy policy</a></li>
                <li><a routerLink="./ruleta">affiliate program</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>get help</h4>
            <ul>
                <li><a routerLink="./ruleta">general FAQ</a></li>
                <li><a routerLink="./ruleta">Suspended Account</a></li>
                <li><a routerLink="./ruleta">withdraw money</a></li>
                <li><a routerLink="./ruleta">order status</a></li>
                <li><a routerLink="./ruleta">payment options</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact</h4>
            <ul>
                <li>whitechalicecasino@gmail.com</li>
                <li>0728567890</li>
                <li><a routerLink="./ruleta">locations</a></li>
                <li>2022 White Chalice Casino.All Rights Reserved</li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>