<div class="center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2> 404 Not Found</h2>
                <div class="error-details">
                    Oh no, looks like an error has occured.Your requested page could not be found!
                </div>
                <span></span>
                <div class="error-actions">
                    <a routerLink="/" >
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
