<div class = mycontainer>
<div class="card-container">
    <div class="upper-container">
       <div class="image-container">
          <img src="assets/profile.png">
       </div>
    </div>
    <div class="lower-container">
       <div class = "aa">
          <h3>{{this.username}}</h3>
          <span></span>
          <h4>{{this.email}}</h4>
       </div>
       <div class = "aa">
          <h5>Phone Number: {{this.phonenumber}}</h5>
          <span></span>
          <h5>Balance: {{this.balance}}</h5>
          <span></span>
          <h5>Total Earnings: {{this.earnings}}</h5>

       </div>
       <div>
          <a href="#" class="btn">Go to payment/withdraw</a>
       </div>
    </div>
 </div>
</div>
